# vscode config
.vscode

# Yarn lock file
yarn.lock

# Environment variables
.env
.env.testing
.env.production

# Dependency directories
node_modules

# Jest coverage output
coverage

# ignore thunder client env
thunder-tests/thunderEnvironment.json
thunder-tests/*.tmp